:root {
    --main-bg-color: #ffddcc;
    --headline-color: #33339a;
  }

h1, h2 {
    color: var(--headline-color);
    font-family: Oswald, sans-serif;
    margin-bottom: 0.2em;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
    padding: 3em;
}

.projects {
    display: flex;
    flex-direction: column;
} 

.project {
    min-width: 100%;
    background-color: var(--headline-color);
    padding: 3em;
    margin-top: 1em;
}



