:root {
    --main-bg-color: #f7f7f7;
    --headline-color: #740499;
    --shadow-color: #9d81a7;
    --footer-background: #c8bdcb;
    --transition: 0.2s all ease-in-out;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'IBM Plex Mono', monospace;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 3em 3em 0 3em;

    display: flex;
    flex-direction: column;
}


.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;


}


ul.nav {
    display: flex;
}

ul.nav li {
    display: inline-block;
    padding: 0 2.5rem 0 0;
    transition: var(--transition);
    font-size: 1em;
}

.nav:hover li:not(:hover) {
    opacity: 0.2;
}

.nav:hover li:hover {
    color: var(--headline-color);
    font-weight: 900;
}

ul.nav li a {
    color: var(--headline-color);
    text-decoration: none;
}

h1,
h2,
h3 {
    color: var(--headline-color);
    font-family: 'IBM Plex Mono', monospace;
}

h1 {
    font-size: 3em;
    font-weight: 900;
    margin-bottom: .2em;
    margin-top: 2em;
}

h2 {
    font-size: 1.6em;
    line-height: 1.6em;
    font-weight: 600;
}

h3 {
    font-size: 1.4em;
}

header,
section.main {
    margin-bottom: 5em;
}

.intro-paragraph {
    padding-bottom: 1em;
    line-height: 2em;
}

.projects {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: column;
}

.project {
    border: 1px solid var(--headline-color);
    padding: 2.5em;
    margin-top: 1em;
    transition: var(--transition);
    background-color: white;
}

.project:hover {
    box-shadow: 10px 10px 0 0 var(--shadow-color);
}

h4.project-title {
    font-size: 1.4em;
}

.project-description {
    margin-top: 1em;
    line-height: 2em;
    font-size: .9em;

}

.project-links {
    margin-top: 1.2em;
}

.links-list {
    display: flex;
    list-style: none;
}

.project-link a {
    font-weight: 800;
    color: var(--headline-color);
    text-decoration: none;
}




ul.links {
    display: flex;
    flex-direction: column;
}

ul.links li {
    margin-top: 1.2em;
    font-size: 1.2em;
    padding: 0;
}

ul.links li a {
    text-decoration: none;
}

.links:hover li:not(:hover) {
    opacity: 0.2;
}

.links:hover li:hover {
    color: var(--headline-color);
    font-weight: 900;
}

footer {
    margin-top: 3em;
    background-color: var(--footer-background);
    display: flex;
    justify-content: center;
    opacity: 0.5;
    transition: var(--transition);
}

footer:hover {
    opacity: 1;
}

footer p {
    margin: 2em;
    color: var(--headline-color);
    font-weight: 800;
}

@media only screen and (min-width: 768px) {

    ul.nav li {
        display: inline-block;
        padding: 0 2rem;
        transition: var(--transition);
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.8em;
    }

    ul.nav {
        justify-content: flex-end;
    }

    .row {
        flex-direction: row;
    }

    .row .project {
        min-width: 50%;
    }

    .row :first-child {
        margin-right: 1em;
    }
}