:root {
    --main-bg-color: #ffddcc;
    --headline-color: #33339a;
  }

ul.nav {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5em;
}

ul.nav li {
    display: inline-block;
    padding-left: 3em;
}

h1, h2 {
    color: var(--headline-color);
    font-family: Oswald, sans-serif;
    margin-bottom: 0.2em;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
    padding: 3em;
}

.projects {
    display: flex;
    flex-direction: column;
} 

.project {
    min-width: 100%;
    background-color: var(--headline-color);
    padding: 3em;
    margin-top: 1em;
}


@media only screen and (min-width: 768px) {
    .projects {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .project {
        max-width: 45%;
    }
  }
